<%= render 'components/banner', title: "New Bookmark", url: "bg-img.jpg", class: "position-relative" %>
<div class="container bg-white rounded-4 p-4 position-absolute top-50 start-50 translate-middle-x">
  <div class="row">
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.submit  %>
<% end %>
</div>
</div>

