<div class="container-fluid banner d-flex align-items-center" style="background-image: url('<%= cl_image_path "#{url}.jpg" %>')">
  <div class="container text-center">
      <h1><%= title = "" %></h1>
  </div>
</div>
